form label.error{width: 200px;margin-left: 10px; color: Red;}
table.dataTable tbody td {
    padding: 1px 1px 1px 1px;
}
table.dataTable{
	font-size:0.7em;
}
table.dataTable thead tr th{
	padding: 2px;
}
.dataTables_wrapper .dataTables_filter {
	float: left;
    text-align: right;
}

.dataTables_wrapper .dataTables_filter label{
	float: right;
}
.dataTables_filter{
	padding-left: 0px; padding-right: 0px;
	width:100%
}